.nav-bar{

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        a{
            text-decoration: none;
        }
    }
}


.nav-menu-items{
    @extend .nav-bar;
    a{
        color: $inherit;
    }
    img {
            width: 2rem;
        }
  
}
.nav-link-items{
    @extend .nav-bar;
    
}
.navbar {
    display: none;
}
