
    .section-one-right {
        margin-left: 1rem;
            display: none;
        }
    
        .section-one-left {
            display: flex;
    
            .left-bottom {
                position: relative;
                left: 10%;
                width: 100%;
                height: 100%;
            }
    
        }
    
    
    
        .section-two {
            margin-left: 1rem;
            cursor: pointer;
    
            h1 {
                font-size: 3rem;
                text-align: center;
            }
            .flex-container{
                display: block;
            }
    
            .flex-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
    
                img {
                    width: 30vw;
                }
            }
        }
    
        .section-three {
            margin-left: 1rem;
            cursor: pointer;
    
    
            h1 {
                font-size: 3rem;
                text-align: center;
            }
    
            img {
                width: 30vw;
            }
    
            .grid-item {
                display: flex;
                justify-content: center;
                gap: 2px;
    
            }
    
            .item {
                padding: 0;
                margin: 0;
                color: ($secondary-color);
            }
    
            .item:hover {
                color: $inherit;
            }
    
            .item-paragraph {
                margin-top: 6px;
            }
    
            .item-paragraph:hover {
                text-decoration: underline;
                border-bottom: 1px $btn-color;
            }
    
        }
    
        .section-four {
            margin-left: 1rem;
            button {
                background-color: $btn-color;
                color: $primary-color;
                padding: 1rem;
                border: 1px solid transparent;
                border-radius: 2rem;
                width: 100%;
    
    
            }
        }
    
        .section-five {
            margin-left: 1rem;
            background-color: $btn-color;
            color: $primary-color;
            padding: 2rem;
            margin-top: 4rem;
    
            span {
                color: rgb(127, 236, 255);
                width: 60vw;
                text-align: center;
            }
    
            h1 {
                font-size: 2rem;
                margin: auto;
                width: 60vw;
                text-align: center;
                margin-top: -2rem;
    
            }
    
            p {
                width: 50vw;
                margin: auto;
                line-height: 15px;
                text-align: center;
                padding-bottom: 3rem;
            }
            .submit{
                input {
                        padding: 0.8rem;
                        border: solid transparent;
                        background-color: lighten($btn-color , $amount: 10%);
                        border-radius: 0.3rem;
                        width: 15rem;
                        margin-left: 3rem;
                }
                
                button {
                    padding: 0.8rem;
                    border: solid transparent;
                    background-color: lighten($btn-color , $amount: 10%);
                    margin-left: -2rem;
                    border-radius: 0.3rem;
                    color: $primary-color;
                
                }
            }
            .checkbox{
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                color: lighten($btn-color , $amount: 20%);
                margin-left: 2rem;

                input{
                    width: 1.25rem;
                    height: 1.25rem;
                    margin-right: 1rem;
                }
                label{
                    padding-top: 0;
                    margin-top: 0.4rem;
                    font-size: 0.8rem;
                }
            }
            .social-icons{
                margin-top: 1rem;
                margin-left: 3rem;
                .fa-brands,
                .fa-solid{
                    color: lighten($btn-color, $amount: 20%);
                    padding: 0.2rem;
                    
                }
            }
        }
           .section-six {
                display: block;
                margin-left: 1rem;
    
               
    
               .plugg-content {
                   display: block;
    
               }
    
               .plug-content {
                   display: flex;
                   gap: 10px;
               }
    
               h6 {
                   color: lighten($secondary-color, $amount: 30%);
                   margin-top: 0;
               }
    
               p {
                   margin-top: -1rem;
               }
           }
           
        .section-seven{
            display: block;
            margin-left: 1rem;

            .plugg-content {
                display: block;
                
            }
            .plug-content{
                display: flex;
                gap: 10px;
            }
            .neutral{
                width: 80vw;
               
            
            }
            h6{
                color: lighten($secondary-color, $amount: 30%);
                margin-top: 0;
            }
            p{
                margin-top: -1rem;
            }
        }
        .section-eight{
            display: block;
            margin-left: 1rem;

            .plugg-content {
                 display: block;
                
            }
            
            .plug-content {
                display: flex;
                gap: 10px;
            }
            
            .neutral {
                width: 26rem;
            
            }
            
            h6 {
                color: lighten($secondary-color, $amount: 30%);
                margin-top: 0;
            }
            
            p {
                margin-top: -1rem;
            }
            }
            
            
        
        .section-nine{
            display: block;
            margin-left: 1rem;

            .plugg-content {
                 display: block;
                 
            }
            
            .plug-content {
                display: flex;
                gap: 10px;
            }
            
            .neutral {
                width: 80vw;
                
            
            }
            
            h6 {
                color: lighten($secondary-color, $amount: 30%);
                margin-top: 0;
            }
            
            p {
                margin-top: -1rem;
            }
        }
        .section-ten{
            display: block;
            margin-left: 1rem;

            .plugg-content {
                 display: block;
                 
            }
            
            .plug-content {
                display: flex;
                gap: 10px;
            }
            
            .neutral {
                width: 80vw;
                
            
            }
            
            h6 {
                color: lighten($secondary-color, $amount: 30%);
                margin-top: 0;
            }
            
            p {
                margin-top: -1rem;
            }
        }
        .section-eleven{
            display: block;

            .airtag-links{
                display: flex;
                gap: 10px;
                overflow: scroll;
                padding: 1rem;
            }

            .airtags{
                
                img{
                    width: 45vw;
                    height: 9rem;
                    margin-bottom: -1rem;   
                }
                p{
                    margin-bottom: 0;
                }
                
            }  

        }
        .section-twelve{
           
             .amazon-article{
                display: block;
                text-align: center;
                h6{
                    color: lighten($secondary-color, $amount: 20%);
                }
                h1{
                    font-size: 2.5rem;
                    color: $btn-color;
                }
               
                button{
                    background-color: $btn-color;
                    padding: 1rem 2rem;
                    color: $primary-color;
                    border: solid transparent;
                    border-radius: 0.3rem;
                }
            }
            .amazon-icons{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                
                div{
                    width: 40%;
                    padding: 1rem;
                   
                    
                    h6{
                        text-align: center;
                      
                        color: $inherit;
                        font-size: 1rem;
                    }
                }
                img{
                    width: 6rem;
                    margin-left: 3rem;
                }
            }
            .partners{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                
                img{
                    width: 10rem;
                }
            }

        }
        

@media(min-width:1200px){
    .section-one {
        display: flex;
        justify-content: center;
        gap: 10px;
        
    
        }
        .section-one-left{
            display: grid;
            grid-template-rows: 1fr 1fr;
            color: $primary-color;
            
            .left-top{
                img {
                        width: 48rem;
                        height: 20rem;
                
                    }
                position: relative;
                .article{
                    position: absolute;
                    top: 10rem;
                    left: 2rem;
                    width: 30rem;
                }
            }
            .left-bottom {
                img {
                        width: 48rem;
                        height: 15rem;
                
                    }
                position: relative;
                
                .article {
                    position: absolute;
                    top: 0rem;
                    left: 2rem;
                }
            }

        }
        .section-one-right{
            display: inline;
            color: $primary-color;
            
            .right-top{
                display: flex;
                gap: 10px;
                position: relative;


                img{
                    width: 22rem;
                    height: 10rem;
                }
                .article{
                    width: 20rem;
                    position: absolute;
                    bottom: 0rem;
                    margin-left: 1.5rem;
                }
            }
            .right-bottom{
                position: relative;
                

                img{
                    width: 45rem;
                    height: 25rem;
                }
            .article {
                    
                    position: absolute;
                    bottom: 0rem;
                    left: 2rem;
                }
            }
        }
        .section-two{
            cursor: pointer;
            h1{
                font-size: 2.5rem;
                text-align: center;
            }
            .flex-container{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
            .flex-item{
                display: block;
                img {
                        width: 18vw;
                    }
            }
          
        }
        .section-three{
            
            h1 {
                    font-size: 2.5rem;
                    text-align: center;
            }
           
            .grid-container{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 18px;
                padding: 0 15rem;
                .grid-item{
                    display: block;
                }
                 img {
                width: 18vw;
               }
                
                
            }
            
            .quantum{
                width: 20rem;
            }
        }
        .section-four{
            margin-bottom: 5rem;
            
            
            button{
                position: absolute;
                left: 50%;
                padding: 1rem 3rem;
                border: none;
                border-radius: 2rem;
                width: 15%;
               
                
            }
        }
        .section-five{
            background-color: $btn-color;
            width: 100vw;
            padding: 8rem;
            color: $primary-color;
            text-align: center;

            h1{
                font-size: 4rem;
                
            }
            p{
                margin-top: 3rem;
            }
           
    
           
            .submit{
                input {
                        padding: 0.8rem;
                        border: solid transparent;
                        background-color: lighten($btn-color , $amount: 10%);
                        border-radius: 0.3rem;
                        width: 38rem;
                }
                
                button {
                    padding: 0.8rem;
                    border: solid transparent;
                    background-color: lighten($btn-color , $amount: 10%);
                    margin-left: -2rem;
                    border-radius: 0.3rem;
                    color: $primary-color;
                
                }
            }
            .checkbox{
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                margin-left: -345px;
                color: lighten($btn-color , $amount: 20%);

                input{
                    width: 1.25rem;
                    height: 1.25rem;
                    margin-right: 1rem;
                }
                label{
                    padding-top: 0;
                    margin-top: 0.4rem;
                    font-size: 0.8rem;
                }
            }
            .social-icons{
                margin-top: 1rem;
                .fa-brands,
                .fa-solid{
                    color: lighten($btn-color, $amount: 20%);
                    padding: 0.2rem;
                    
                }
            }
        }
        




        .section-six{
            @include section;
            .heading{
               @include section-heading;
            }
            .plugg-content{
                display: flex;
                gap: 30px;
                
            }
            .plug-content{
                display: flex;
                gap: 10px;
            }

            h6{
                color: lighten($secondary-color, $amount: 30%);
                margin-top: 0;
            }
            p{
                margin-top: -1rem;
            }
        }
        .section-seven{
            @include section;
            
            .heading {
                @include section-heading;
            }
            .plugg-content {
                display: flex;
                gap: 30px;
            }
            .plug-content{
                display: flex;
                gap: 10px;
            }
            .neutral{
                width: 26rem;
            
            }
            

            h6{
                color: lighten($secondary-color, $amount: 30%);
                margin-top: 0;
            }
            p{
                margin-top: -1rem;
            }
        }
        .section-eight{
            @include section;
            
            .heading {
                @include section-heading;
                }
            
            .plugg-content {
                 display: flex;
                 gap: 30px;
            }
            
            .plug-content {
                display: flex;
                gap: 10px;
            }
            
            .neutral {
                width: 26rem;
            
            }
            
            h6 {
                color: lighten($secondary-color, $amount: 30%);
                margin-top: 0;
            }
            
            p {
                margin-top: -1rem;
            }
        }
        .section-nine{
            @include section;
            
            .heading {
                @include section-heading;
                }
            
            .plugg-content {
                 display: flex;
                 gap: 30px;
            }
            
            .plug-content {
                display: flex;
                gap: 10px;
            }
            
            .neutral {
                width: 26rem;
            
            }
            
            h6 {
                color: lighten($secondary-color, $amount: 30%);
                margin-top: 0;
            }
            
            p {
                margin-top: -1rem;
            }
        }
        .section-ten{
            @include section;
            
            .heading {
                @include section-heading;
                }
            
            .plugg-content {
                 display: flex;
                 gap: 30px;
            }
            
            .plug-content {
                display: flex;
                gap: 10px;
            }
            
            .neutral {
                width: 26rem;
            
            }
            
            h6 {
                color: lighten($secondary-color, $amount: 30%);
                margin-top: 0;
            }
            
            p {
                margin-top: -1rem;
            }
        }



        .section-eleven{
            background-color: lighten($secondary-color, $amount: 43%);
            display: flex;
            justify-content: center;
            align-items: center; 
            flex-wrap: wrap;
            gap: 1rem;
            padding: 4rem;

            .airtag-links{
                width: 18rem;
                padding-top: 2rem;
            }
           
            .airtags{
                img{
                    width: 18rem;
                    height: 9rem;
                    margin-bottom: -1rem;
                   
                    
                }
                p{
                    margin-bottom: 0;
                }
                
            }  
        }
        .section-twelve{
            .amazon-section{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .amazon-article{
                flex: 1;
                padding-left: 12rem;
                button{
                    background-color: $btn-color;
                    padding: 1rem 2rem;
                    color: $primary-color;
                    border: solid transparent;
                    border-radius: 0.3rem;
                }
            }
            .amazon-icons{
                flex: 1;
                display: flex;
                flex-wrap: wrap;

                
                div{
                    
                    display: flex;
                    align-items: center;
                    width: 40%;
                    padding: 1rem;
                    
                    h6{
                        color: $inherit;
                        font-size: 1rem;
                    }
                }
                img{
                    width: 7rem;
                }
            }
            .partners{
                padding: 5rem 0;
            }
                
        
            h6{
                color: lighten($secondary-color, $amount: 20%);
            }
            h1{
                font-size: 3rem;
                color: $btn-color;
            }
            .partners{
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 8rem;
                }
            }
        }
        

}